.container {
  width: 60%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  padding-top: 45px;
  padding-bottom: 45px;
}

p, ul, form {
  font-family: 'Arsenal', sans-serif;
  font-size: 25px;
  line-height: 1.5;
}

.movie-images img {
  width: 350px;
  height: 350px;
  padding-top: 35px;
  padding-bottom: 35px;
}

form {
  background-color: beige;
}